.couponsContainer {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	background-color: #ffffff;
    margin: 0;
}

.couponContainer {
	width: 280px;
	height: 100px;
	background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-decoration: none;

	background-color: skyblue;
}

.storeInformContinaer {
	background-color: pink;
	text-align: center;
}


.stamps {
	display: flex;
	justify-content: space-between;
	background-color: rebeccapurple;
}

.storeSubject {
	font-size: 24px;
	color: black;
}

.storePlace {
	font-size: 15px;
	color:gray
	
}

.stamp {
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%;
}

.stampActive {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23FFD700" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15 8.5 22 9.5 17 14 18 21 12 18 6 21 7 14 2 9.5 9 8.5 12 2"/></svg>') center/90% no-repeat;
}
.stampHidden {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="12 2 15 8.5 22 9.5 17 14 18 21 12 18 6 21 7 14 2 9.5 9 8.5 12 2"/></svg>') center/90% no-repeat;
}