
body {
    margin: 0;
}

.centerWrapper {
    padding-top: 80px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C7E2F6;
}

.select {
    /* width: 300px; */
    border: solid 2px #7694AB;
	border-radius: 30px;
    display: flex;
    background-color: #ffffff;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 60%;
    max-width: 400px;
    min-width: 100px;
}

.centerWrapper p{
    font-size: 30px;
}
