@import url(`https://fonts.googleapis.com/css?family=Tangerine`);

* {
    margin: 9;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tangerine', serif;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.login-form {
    border: solid 0.1px;
    position: relative;
}
.login-form h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;
}

.int-area {
    width: 400px; position: relative;
}
.int-area:first-child {margin-top: 0;}
.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px; color: #fff;
    outline: none;
}
.int-area label {
    position: absolute; left: 10px; top: 15px;
    font-size: 18px; color: #999;
    transition: top .5s ease;
}

.int-area input:focus + label,
.int-area input:valid + label {
    top: 5px;
    font-size: 13px; color: #166cea;
}

.btn-area {
    width: px;
    margin-top: 30px;
    margin-left: 160px;
}
.btn-area button {
    width: 30%; height: 50px;
    background: #166cea;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    text-align: center;
}
.caption a {
    font-size: 15px; color: #999;
    text-decoration: none;
}