body {
	background-color: rgb(255, 253, 208);
}

.couponsWrapper {
	padding-top: 20px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 18px;
}