body {
	background-color: rgb(255, 253, 208);
}

.searchWrapper {
	width: 100%;
	height: 100vh;
	text-align: center;
}

.searchContainer {
	padding-top: 13%;
	padding-bottom: 25px;
	display: flex;
	justify-content: center;
}

.searchInputForm {
	position: relative;
	overflow-x: hidden;
	text-wrap: nowrap;
	height: 40px;
	width: 80%;
	max-width: 430px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.searchBtn {
	position: absolute;
	right: 0px;
	/* top: 3px; */
	height: 100%;
	width: 40px;
	padding-right: 16px;
	border: none;
	background-color: transparent;
	/* background-color: red; */
}

.searchBtnIcon {
	padding-top: 5px;
	height: 15px;
}

.searchInput {
	height: 100%;
	width: 100%;
	outline: none; 
	border: none;
	border-radius: 20px;
	padding-left: 24px;
	font-size: 15px;
	background-color:white ;
}

.storePlaceWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	
	/* background-color: purple; */
}

.storePlaceContainer {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.storePlaceTitle {
	width: 100%;
	margin-left: 8%;
}

.storePlaceTitle div {
	width: 85px;
	font-size: 18px;
	margin-left: 10px;
	text-align: center;
	border-bottom: solid 1.5px black;
}

/* 
.storePlaceBtn {
	margin-top: 17px;
	height: 60px;
	width: 81%;
	max-width: 250px;
	background-color: white;
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
	border-radius: 12px;
	cursor: pointer;
	text-wrap: nowrap;
	overflow-x: hidden;
	
	text-align: start;
	padding-left: 8%;
	padding-right: 8%;
} */

.storeTitle {
	font-weight: 700;
	font-size: 18px;
}

.storeSubTitle {
	color: gray;
	font-size: 15px;
}

.storePlaceBtnBottom {
	display: flex;
	justify-content: space-between;
}

.couponValid {
	margin-right: 5%;
	margin-left: 2%;
}


.storePlaceBtn {
	margin-top: 13px;
	height: 60px;
	width: 95%;
	/* width: 50%; */
	max-width: 250px;
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
	border-radius: 12px;
	cursor: pointer;
	text-wrap: nowrap;
	overflow-x: hidden;
	text-align: start;
	padding-left: 4%;
	padding-right: 4%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	/* background-color: pink; */
}

.btnLeft {
	width: 70%;
	margin-left: 5px;
}

.btmBottom {
	width: 100%;
	overflow-x: auto;

}

.btnTop {
	width: 100%;
	overflow-x: auto;

}

.btnRight {
	/* height: 100%; */
	width: 30%;
	border: solid 0.5px gray;
	background-color: whitesmoke;
	margin-left: 10px;
	padding: 12px 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 1px 5px;
	/* background-color: blueviolet; */
}

.storeTitle {
	font-weight: 700;
	font-size: 18px;
}

.storeSubTitle {
	color: gray;
	font-size: 15px;
}

.storePlaceTitle {
	margin-left: 8%;
	font-size: 15px;
}

.storePlaceBtnBottom {
	display: flex;
	justify-content: space-between;
}

.couponValid {
	margin-right: 5%;
	margin-left: 2%;
}