body {
	background-color: rgb(255, 253, 208);
}

.couponDetailWrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;

	background-color: red;
}

.couponDetailBox {
	width: 100%;
	max-width: 600px;
	height: 50%;
	margin-top: 40px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
	background-color: white;
}

.couponDetailHeade {
	margin: 10px 0;
	text-align: center;
}

.couponDetailTitle {
	font-size: 30px;
}

.couponDetailSubTitle {
	font-size: 20px;
	color: gray;
}

.couponDetailBody {
	height: 100%;
	width: 100%;
	background-color: skyblue;
}






