
.contentWrapper {
    background-color: red;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
}

.content {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin-top: 10px;
    justify-content: center;
}

.content li {
    width: 80%;
    height: 70px;
    border-radius: 20px;
}

.couponBox {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid 2px #7694AB;
}

.couponBox:hover {
    background-color: #f0f0f0; /* 마우스를 올렸을 때 배경색 변경 */
}

.storeName {
    font-size: 30px;
}

.storePlace {
    font-size: 17px;
}

.stampState {
    font-size: 15px;
}

    /* .content li button div{
        text-align: center;
        border-radius: 20px;
        background-color: green;
        width: 100%;
        height: 100%;
    } */