.ownerMainWrapper {
	height: 90vh;
	display: flex;
	justify-content: center;

	background-color: rgb(255, 253, 208);
}

.ownerMain {
	width: 95%;
}

.btnWrapper {
	height: 40px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.btnWrapper button {
	border: none;
	background-color: #fbfbfb;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 13px;
	margin-top: 7px;
	padding: 7px;
}

.informUpdate {
	margin-right: 6px;
}

.couponUpdate {
	margin-left: 6px;
}

.requestList {
}

.requestWrapper {
	width: 100%;
	height: 35px;
	text-align:center;
	margin-top: 10px;
	background-color: #fbfbfb;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.requestListText {
	width: 80px;
	border-bottom: solid 1.5px;
	color:darkgray;
	font-size: 17px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.userNameText {
	font-size: 16px;
	margin-left: 6px;
}

.responseWrapper {
	margin-top: 7px;
	text-align: end;
	width: 75%;
	display: inline-block;
}

.responseWrapper select {
	margin-right: 5px;
}

.responseWrapper button {
	border: none;
	cursor: pointer;
	background-color: white;
	font-size: 13px;
	padding: 4px;
	margin-right: 4px;
}

/* 모달 대화 상자 스타일 */
.couponUpdateModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 배경 투명도 */
}

/* 모달 대화 상자 스타일 */
.informUpdateModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 배경 투명도 */
}

/* 모달 내용 스타일 */
.modal-content {
    background-color: #fefefe;
    /* margin: 12% auto; */
	margin-top: 11%;
	margin-bottom: 12%;
	margin-left: auto;
	margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
	height: 85%;
    max-width: 400px;
	max-height: 400px;
    border-radius: 15px;
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}