.ownerMainWrapper {
	height: 90vh;
	display: flex;
	justify-content: center;

	background-color: rgb(255, 253, 208);
}

.ownerMain {
	width: 95%;
	/* background-color: aqua; */
}

.btnWrapper {
	height: 40px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

.btnWrapper button {
	border: none;
	font-size: 0.9rem;
	background-color: #fbfbfb;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 13px;
	margin-top: 7px;
	padding: 7px;
}

.informUpdate {
	margin-right: 6px;
}

.couponUpdate {
	margin-left: 6px;
}

.requestListText {
	width: 80px;
	border-bottom: solid 1.5px;
	color:darkgray;
	font-size: 17px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.requestListWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: purple; */
}

.requestList {
	width: 500px;
	height: 100%;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	/* align-items: center; */
	/* justify-content: center; */
}


.requestWrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	margin-bottom: 10px;
	border-radius: 5px;
	overflow-x: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: none;
	background-color: white;
	gap: 3px;
}

.requestWrapperFirst {
	width: 20%;
	margin-left: 10px;
	color: #333;
	font-size: 1rem;
	text-wrap: nowrap;
	display: flex;
	font-weight: 700;
	justify-content: center;
	align-items: center;
	gap: 3px;
	
}

.userNameText {
	width: 30%;
	color: #333;
	font-size: 0.9rem;
	text-align: center;
	text-wrap: nowrap;
}

.responseWrapper {
	width: 50%;
	text-align: end;
}

.responseWrapper form {
	white-space: nowrap;
}

.responseWrapper form button {
	border: none;
	cursor: pointer;
	font-size: 0.9rem;
	padding: 5px 10px;
}

.reject {
	margin-right: 10px;	
}

/* 모달 대화 상자 스타일 */
.couponUpdateModal {
	display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 배경 투명도 */
}

.couponUpdateForm {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Adjust column widths as needed */
    gap: 10px; /* Adjust gap between elements as needed */
}
.couponUpdateForm label {
	text-align: right;
}
.couponUpdateForm input {
	width: 90%;
	box-sizing: border-box;
}
.couponUpdateForm select {
	width: 90%;
	box-sizing: border-box;
}

/* 모달 대화 상자 스타일 */
.informUpdateModal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 배경 투명도 */
}

.informUpdateFormInput {
	margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.informUpdateFormInput label {
    text-align: right;
	text-wrap: nowrap;
}
.informUpdateFormInput input {
	width: 90%;
	max-width: 200px;
    box-sizing: border-box;
}

.informUpdateForm {
	text-align: center;
}

.informUpdateForm button{
	border: none;
	margin-top: 13px;
	padding: 4px;
}

.modalTitle {
	text-align: center;
	width: 90px;
	border-bottom: solid 1.5px gray;
}

.modal-content {
    background-color: #fefefe;
	margin-top: 11%;
	margin-bottom: 12%;
	margin-left: auto;
	margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
	height: 85%;
    max-width: 400px;
	max-height: 400px;
    border-radius: 15px;
}

/* 닫기 버튼 스타일 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.menuWrapper {
	margin-top: 15px;
	text-align: center;
	height: 40%;
	
	/* background-color: skyblue; */
}

.menuForm {
	margin-top: 5px;
	/* display: inline; */
	/* text-wrap: nowrap; */
	text-align: center;
	/* width: 50%; */

	/* background-color: orange; */
}

.menuForm form input { 
	width: 30%;
}
.menuForm form button {
	padding: 2px 3px;
	border-radius: 5px;
	border: none;
}

.menuList {
	margin-top: 8px;
	height: 60%;
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
	align-content: start;
	overflow-y: auto;
	border: solid 1px lightgray;
	border-radius: 8px;

	/* background-color: skyblue; */
}

.menuRow {
	margin-top: 8px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	height: 23px;
	border: solid 1px black;
	border-radius: 8px;
}

.menuRow button {
	margin-bottom: 3px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: lightgray;
	border: none;
	border-radius: 5px;
}
